* {
	margin: 0px;
	font-family: Arial, Garamond;
	background-color: #000044;
}

.header {
	/*border: 1px solid black;*/
	width: 100%;
	color: #ffffff;
	text-align: center;
}

.options {
	/*border: 1px solid green;*/
	width: 500px;
	margin: auto;
}

.intro_para{
	/*border: 1px solid gray;*/
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.buttons {
	/*border: 1px solid purple;*/
	width: 410px;
	margin: auto;
	margin-bottom: 30px;
}

.button_norm,
.button_rand,
.button_trail,
.button_reset {
	border: 2px solid #ffffff;
	background-color: #6699cc;
	width: 95px;
	height: 25px;
	border-radius: 5px;
	display: inline-block;
	margin: 0px;
	cursor: pointer;
}

.b_text {
	/*border: 1px solid red;*/
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	background-color: #6699cc;
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}

.grid {
	border: 40px solid red;
	display: block;
	border-radius: 15px;
	background-color: black;
	width: 700px;
	height: 700px;
	margin: auto;
	padding: 0px;
}

.grid_block {
	/*border: 1px solid #eacb81;*/
	display: block;
	float: left;
	background-color: #ffffff;
	width: 10px;
	height: 10px;
	margin: 0px;
	padding: 0px;
}

.footer {
	text-align: center;
	color: white;
	margin-top: 5px;
}

a {
	color: white;
}